#top {
  display: flex;
  align-items: center;          
  justify-content: space-between;
}

#nav {
  display: flex;
  list-style: none;
  gap: 10px;
  font-size: 20px;
}

#allContainer{
  padding-right: 150px; 
  padding-left: 150px;
}
