#top {
  display: flex;
  align-items: center;          
  justify-content: space-between;
  color: #0099cc;
  font-family: 'Roboto', sans-serif;
  font-size: 20px;
}

#nav {
  display: flex; 
  list-style: none;
  gap: 10px;
  font-size: 20px;
}

#nav a {
  text-decoration: none;  
}

#allContainer{
  padding-right: 150px; 
  padding-left: 150px;
}

#aboutMe{
  font-size: 20px;
}

#pdf {
  width: 100%;
  height: 1000px;
  border: none;
  display: block;
  bottom: -42px;
}
