/*general*/
#resumeHeader {
  text-align: center;
  margin-bottom: 20px;
}

hr {
  width: calc(100% - 300px);
}

h3 {
  text-align: center;
  border-bottom: 2px solid black;
  padding-bottom: 3px;
}

.sectionLine {
  display: flex;
  margin-top: 5px;
  justify-content: space-between;
}

.itemContent p{
  margin: 0px;
}

.itemContent strong {
  display: block;
}

ul{
  margin-top: 0;
}

#nav{   
  margin: 0;
  padding: 0; 
  display: flex; 
  list-style: none;
  gap: 10px;
  font-size: 20px;
}

#nav a{
  text-decoration: none;  
}

#nav a:visited { 
  color:blue;
  text-decoration: none; 
}
  
#top {
  padding-right: 150px; 
  padding-left: 150px;
  display: flex;
  align-items: center;          
  justify-content: space-between;
  color: #0099cc;
  font-family: Verdana, sans-serif, Arial;
  font-size: 20px;
}
  
@media screen and (min-width: 1024px) { /* large screens */
  #resumeContainer {
    max-width: 800px;
    margin: 0 auto;
    font-family: Verdana, sans-serif, Arial;
    line-height: 1.5;
  }
  
  #container{
    
    padding-right: 150px; 
    padding-left: 150px;
  }

  img {
    float: left;
    margin-right: 2em;
    width: 250px;
  }

  #aboutMe{
    padding-left: 150px;
    font-size: 20px;
  }

  #contactForm{
    padding-left: 150px;
  }

  #message {
    width: calc(100% - 150px);
    height:300px;
  }
  #subject {
    width: calc(100% - 150px);
  }
}
@media screen and (min-width: 640px) and (max-width: 1024px) { /* medium screens */
  #resumeContainer {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    font-family: Verdana, sans-serif, Arial;
    line-height: 1.5;
  }
  
  #container {
    padding: 0 60px;
  }

  img {
    width: 100%;
    max-width: 250px;
    display: block;
    margin: auto;
    float: none;
  }

  #pdf {
    height: 70vh;
  }

  #contactForm{
    padding-left: 150px;
  }
  
  #aboutMe{
    padding-left: 90px;
    padding-right: 100px;
    font-size: 20px;
  }

  #message {
    width: calc(100% - 150px);
    height:300px;
  }
  
  #subject {
    width: calc(100% - 150px);
  }
}
@media screen and (max-width: 640px) { /*small screens*/
  #resumeContainer {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    font-family: Verdana, sans-serif, Arial;
    line-height: 1.5;
  }

  #container {
    padding: 0 20px;
  }

  #top {
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center; 
    gap: 10px;
  }

  #nav {
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  img {
    width: 100%;
    max-width: 250px;
    display: block;
    margin: auto;
    float: none;
  }

  #aboutMe{
    padding-left: 110px;
    padding-right: 110px;
    font-size: 20px;
  }

  #pdf {
    height: 60vh;
  }
  #contactForm{
    padding-left: 150px;
  }

  #message {
    width: calc(100% - 150px);
    height:300px;
  }

  #subject {
    width: calc(100% - 150px);
  }
}
