#top {
  display: flex;
  align-items: center;          
  justify-content: space-between;
}

#nav {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 10px;
}

#allContainer{
  padding-right: 100px;
  padding-left: 100px;
}
